## Assignment/Task 5

Pandas - Data Analysis of IMDB movies data

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 1. Load the IMDb Dataset and read
imdb = pd.read_csv('./datasets/IMDB-Movie-Data.csv')

In [4]:
# 2. View the dataset
imdb.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [5]:
# 3. Understand some basic information about the dataset and Inspect the dataframe Inspect the dataframe's columns, shapes, variable types etc.
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [6]:
imdb.shape

(1000, 12)

In [11]:
imdb.size

12000

In [10]:
type(imdb)

pandas.core.frame.DataFrame

In [7]:
imdb.dtypes

Rank                    int64
Title                  object
Genre                  object
Description            object
Director               object
Actors                 object
Year                    int64
Runtime (Minutes)       int64
Rating                float64
Votes                   int64
Revenue (Millions)    float64
Metascore             float64
dtype: object

In [9]:
imdb.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [12]:
imdb.describe()

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000,936.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,103.253540,17.194757
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,13.270000,47.000000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,47.985000,59.500000
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,113.715000,72.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

In [13]:
# 4. Data Selection – Indexing and Slicing data
imdb.iloc[0]

Rank                                                                  1
Title                                           Guardians of the Galaxy
Genre                                           Action,Adventure,Sci-Fi
Description           A group of intergalactic criminals are forced ...
Director                                                     James Gunn
Actors                Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Year                                                               2014
Runtime (Minutes)                                                   121
Rating                                                              8.1
Votes                                                            757074
Revenue (Millions)                                               333.13
Metascore                                                          76.0
Name: 0, dtype: object

In [17]:
imdb.loc[3:5,:]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
5,6,The Great Wall,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0

In [15]:
imdb[1:30]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
5,6,The Great Wall,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0
6,7,La La Land,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
7,8,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN,71.0
8,9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
9,10,Passengers,"Adventure,Drama,Romance",A spacecraft traveling to a distant colony pla...,Morten Tyldum,"Jennifer Lawrence, Chris Pratt, Michael Sheen,...",2016,116,7.0,192177,100.01,41.0
10,11,Fantastic Beasts and Where to Find Them,"Adventure,Family,Fantasy",The adventures of writer Newt Scamander in New...,David Yates,"Eddie Redmayne, Katherine Waterston, Alison Su...",2016,133,7.5,232072,234.02,66.0
11,12,Hidden Figures,"Biography,Drama,History",The story of a team of female African-American...,Theodore Melfi,"Taraji P. Henson, Octavia Spencer, Janelle Mon...",2016,127,7.8,93103,169.27,74.0
12,13,Rogue One,"Action,Adventure,Sci-Fi",The Rebel Alliance makes a risky move to steal...,Gareth Edwards,"Felicity Jones, Diego Luna, Alan Tudyk, Donnie...",2016,133,7.9,323118,532.17,65.0
13,14,Moana,"Animation,Adventure,Comedy","In Ancient Polynesia, when a terrible curse in...",Ron Clements,"Auli'i Cravalho, Dwayne Johnson, Rachel House,...",2016,107,7.7,118151,248.75,81.0
14,15,Colossal,"Action,Comedy,Drama",Gloria is an out-of-work party girl forced to ...,Nacho Vigalondo,"Anne Hathaway, Jason Sudeikis, Austin Stowell,...",2016,109,6.4,8612,2.87,70.0
15,16,The Secret Life of Pets,"Animation,Adventure,Comedy",The quiet life of a terrier named Max is upend...,Chris Renaud,"Louis C.K., Eric Stonestreet, Kevin Hart, Lake...",2016,87,6.6,120259,368.31,61.0
16,17,Hacksaw Ridge,"Biography,Drama,History","WWII American Army Medic Desmond T. Doss, who ...",Mel Gibson,"Andrew Garfield, Sam Worthington, Luke Bracey,...",2016,139,8.2,211760,67.12,71.0
17,18,Jason Bourne,"Action,Thriller",The CIA's most dangerous former operative is d...,Paul Greengrass,"Matt Damon, Tommy Lee Jones, Alicia Vikander,V...",2016,123,6.7,150823,162.16,58.0
18,19,Lion,"Biography,Drama",A five-year-old Indian boy gets lost on the st...,Garth Davis,"Dev Patel, Nicole Kidman, Rooney Mara, Sunny P...",2016,118,8.1,102061,51.69,69.0
19,20,Arrival,"Drama,Mystery,Sci-Fi",When twelve mysterious spacecraft appear aroun...,Denis Villeneuve,"Amy Adams, Jeremy Renner, Forest Whitaker,Mich...",2016,116,8.0,340798,100.50,81.0
20,21,Gold,"Adventure,Drama,Thriller","Kenny Wells, a prospector desperate for a luck...",Stephen Gaghan,"Matthew McConaughey, Edgar Ramírez, Bryce Dall...",2016,120,6.7,19053,7.22,49.0
21,22,Manchester by the Sea,Drama,A depressed uncle is asked to take care of his...,Kenneth Lonergan,"Casey Affleck, Michelle Williams, Kyle Chandle...",2016,137,7.9,134213,47.70,96.0
22,23,Hounds of Love,"Crime,Drama,Horror",A cold-blooded predatory couple while cruising...,Ben Young,"Emma Booth, Ashleigh Cummings, Stephen Curry,S...",2016,108,6.7,1115,NaN,72.0
23,24,Trolls,"Animation,Adventure,Comedy","After the Bergens invade Troll Village, Poppy,...",Walt Dohrn,"Anna Kendrick, Justin Timberlake,Zooey Deschan...",2016,92,6.5,38552,153.69,56.0
24,25,Independence Day: Resurgence,"Action,Adventure,Sci-Fi",Two decades after the first Independence Day i...,Roland Emmerich,"Liam Hemsworth, Jeff Goldblum, Bill Pullman,Ma...",2016,120,5.3,127553,103.14,32.0
25,26,Paris pieds nus,Comedy,Fiona visits Paris for the first time to assis...,Dominique Abel,"Fiona Gordon, Dominique Abel,Emmanuelle Riva, ...",2016,83,6.8,222,NaN,NaN
26,27,Bahubali: The Beginning,"Action,Adventure,Drama","In ancient India, an adventurous and daring ma...",S.S. Rajamouli,"Prabhas, Rana Daggubati, Anushka Shetty,Tamann...",2015,159,8.3,76193,6.50,NaN
27,28,Dead Awake,"Horror,Thriller",A young woman must save herself and her friend...,Phillip Guzman,"Jocelin Donahue, Jesse Bradford, Jesse Borrego...",2016,99,4.7,523,0.01,NaN
28,29,Bad Moms,Comedy,When three overworked and under-appreciated mo...,Jon Lucas,"Mila Kunis, Kathryn Hahn, Kristen Bell,Christi...",2016,100,6.2,66540,113.08,60.0
29,30,Assassin's Creed,"Action,Adventure,Drama",When Callum Lynch explores the memories of his...,Justin Kurzel,"Michael Fassbender, Marion Cotillard, Jeremy I...",2016,115,5.9,112813,54.65,36.0

In [18]:
imdb[['Rating','Votes']].agg(['min','max','mean'])

      Rating        Votes
min   1.9000       61.000
max   9.0000  1791916.000
mean  6.7232   169808.255

In [19]:
# 5. Data Selection – Based on Conditional filtering
imdb.filter(items=['Title', 'Votes'])

                       Title   Votes
0    Guardians of the Galaxy  757074
1                 Prometheus  485820
2                      Split  157606
3                       Sing   60545
4              Suicide Squad  393727
..                       ...     ...
995     Secret in Their Eyes   27585
996          Hostel: Part II   73152
997   Step Up 2: The Streets   70699
998             Search Party    4881
999               Nine Lives   12435

[1000 rows x 2 columns]

In [23]:
imdb['Rating']>8

0       True
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: Rating, Length: 1000, dtype: bool

In [26]:
imdb[imdb['Rating']>8]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
6,7,La La Land,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
16,17,Hacksaw Ridge,"Biography,Drama,History","WWII American Army Medic Desmond T. Doss, who ...",Mel Gibson,"Andrew Garfield, Sam Worthington, Luke Bracey,...",2016,139,8.2,211760,67.12,71.0
18,19,Lion,"Biography,Drama",A five-year-old Indian boy gets lost on the st...,Garth Davis,"Dev Patel, Nicole Kidman, Rooney Mara, Sunny P...",2016,118,8.1,102061,51.69,69.0
26,27,Bahubali: The Beginning,"Action,Adventure,Drama","In ancient India, an adventurous and daring ma...",S.S. Rajamouli,"Prabhas, Rana Daggubati, Anushka Shetty,Tamann...",2015,159,8.3,76193,6.50,NaN
36,37,Interstellar,"Adventure,Drama,Sci-Fi",A team of explorers travel through a wormhole ...,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",2014,169,8.6,1047747,187.99,74.0
50,51,Star Wars: Episode VII - The Force Awakens,"Action,Adventure,Fantasy",Three decades after the defeat of the Galactic...,J.J. Abrams,"Daisy Ridley, John Boyega, Oscar Isaac, Domhna...",2015,136,8.1,661608,936.63,81.0
54,55,The Dark Knight,"Action,Crime,Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart,Mi...",2008,152,9.0,1791916,533.32,82.0
64,65,The Prestige,"Drama,Mystery,Sci-Fi",Two stage magicians engage in competitive one-...,Christopher Nolan,"Christian Bale, Hugh Jackman, Scarlett Johanss...",2006,130,8.5,913152,53.08,66.0
67,68,Mad Max: Fury Road,"Action,Adventure,Sci-Fi",A woman rebels against a tyrannical ruler in p...,George Miller,"Tom Hardy, Charlize Theron, Nicholas Hoult, Zo...",2015,120,8.1,632842,153.63,90.0
74,75,Zootopia,"Animation,Adventure,Comedy","In a city of anthropomorphic animals, a rookie...",Byron Howard,"Ginnifer Goodwin, Jason Bateman, Idris Elba, J...",2016,108,8.1,296853,341.26,78.0
76,77,The Avengers,"Action,Sci-Fi",Earth's mightiest heroes must come together an...,Joss Whedon,"Robert Downey Jr., Chris Evans, Scarlett Johan...",2012,143,8.1,1045588,623.28,69.0
77,78,Inglourious Basterds,"Adventure,Drama,War","In Nazi-occupied France during World War II, a...",Quentin Tarantino,"Brad Pitt, Diane Kruger, Eli Roth,Mélanie Laurent",2009,153,8.3,959065,120.52,69.0
80,81,Inception,"Action,Adventure,Sci-Fi","A thief, who steals corporate secrets through ...",Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",2010,148,8.8,1583625,292.57,74.0
82,83,The Wolf of Wall Street,"Biography,Comedy,Crime","Based on the true story of Jordan Belfort, fro...",Martin Scorsese,"Leonardo DiCaprio, Jonah Hill, Margot Robbie,M...",2013,180,8.2,865134,116.87,75.0
83,84,Gone Girl,"Crime,Drama,Mystery",With his wife's disappearance having become th...,David Fincher,"Ben Affleck, Rosamund Pike, Neil Patrick Harri...",2014,149,8.1,636243,167.74,79.0
90,91,Prisoners,"Crime,Drama,Mystery",When Keller Dover's daughter and her friend go...,Denis Villeneuve,"Hugh Jackman, Jake Gyllenhaal, Viola Davis,Mel...",2013,153,8.1,431185,60.96,74.0
92,93,The Help,Drama,An aspiring author during the civil rights mov...,Tate Taylor,"Emma Stone, Viola Davis, Octavia Spencer, Bryc...",2011,146,8.1,342429,169.71,62.0
96,97,Kimi no na wa,"Animation,Drama,Fantasy",Two strangers find themselves linked in a biza...,Makoto Shinkai,"Ryûnosuke Kamiki, Mone Kamishiraishi, Ryô Nari...",2016,106,8.6,34110,4.68,79.0
99,100,The Departed,"Crime,Drama,Thriller",An undercover cop and a mole in the police att...,Martin Scorsese,"Leonardo DiCaprio, Matt Damon, Jack Nicholson,...",2006,151,8.5,937414,132.37,85.0
111,112,12 Years a Slave,"Biography,Drama,History","In the antebellum United States, Solomon North...",Steve McQueen,"Chiwetel Ejiofor, Michael Kenneth Williams, Mi...",2013,134,8.1,486338,56.67,96.0
114,115,Harry Potter and the Deathly Hallows: Part 2,"Adventure,Drama,Fantasy","Harry, Ron and Hermione search for Voldemort's...",David Yates,"Daniel Radcliffe, Emma Watson, Rupert Grint, M...",2011,130,8.1,590595,380.96,87.0
117,118,Dangal,"Action,Biography,Drama",Former wrestler Mahavir Singh Phogat and his t...,Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",2016,161,8.8,48969,11.15,NaN
124,125,The Dark Knight Rises,"Action,Thriller",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway,Gary ...",2012,164,8.5,1222645,448.13,78.0
133,134,Whiplash,"Drama,Music",A promising young drummer enrolls at a cut-thr...,Damien Chazelle,"Miles Teller, J.K. Simmons, Melissa Benoist, P...",2014,107,8.5,477276,13.09,88.0
136,137,No Country for Old Men,"Crime,Drama,Thriller",Violence and mayhem ensue after a hunter stumb...,Ethan Coen,"Tommy Lee Jones, Javier Bardem, Josh Brolin, W...",2007,122,8.1,660286,74.27,91.0
138,139,Shutter Island,"Mystery,Thriller","In 1954, a U.S. marshal investigates the disap...",Martin Scorsese,"Leonardo DiCaprio, Emily Mortimer, Mark Ruffal...",2010,138,8.1,855604,127.97,63.0
143,144,Room,Drama,A young boy is raised within the confines of a...,Lenny Abrahamson,"Brie Larson, Jacob Tremblay, Sean Bridgers,Wen...",2015,118,8.2,224132,14.68,86.0
144,145,Django Unchained,"Drama,Western","With the help of a German bounty hunter , a fr...",Quentin Tarantino,"Jamie Foxx, Christoph Waltz, Leonardo DiCaprio...",2012,165,8.4,1039115,162.80,81.0
145,146,Ah-ga-ssi,"Drama,Mystery,Romance",A woman is hired as a handmaiden to a Japanese...,Chan-wook Park,"Min-hee Kim, Jung-woo Ha, Jin-woong Jo, So-ri ...",2016,144,8.1,33418,2.01,84.0
154,155,Twin Peaks: The Missing Pieces,"Drama,Horror,Mystery",Twin Peaks before Twin Peaks (1990) and at the...,David Lynch,"Chris Isaak, Kiefer Sutherland, C.H. Evans, Sa...",2014,91,8.1,1973,NaN,NaN
192,193,Spotlight,"Crime,Drama,History",The true story of how the Boston Globe uncover...,Tom McCarthy,"Mark Ruffalo, Michael Keaton, Rachel McAdams, ...",2015,128,8.1,268282,44.99,93.0
194,195,Warrior,"Action,Drama,Sport",The youngest son of an alcoholic former boxer ...,Gavin O'Connor,"Tom Hardy, Nick Nolte, Joel Edgerton, Jennifer...",2011,140,8.2,355722,13.65,71.0
197,198,Into the Wild,"Adventure,Biography,Drama","After graduating from Emory University, top st...",Sean Penn,"Emile Hirsch, Vince Vaughn, Catherine Keener, ...",2007,148,8.1,459304,18.35,73.0
198,199,The Imitation Game,"Biography,Drama,Thriller","During World War II, mathematician Alan Turing...",Morten Tyldum,"Benedict Cumberbatch, Keira Knightley, Matthew...",2014,114,8.1,532353,91.12,73.0
230,231,Pan's Labyrinth,"Drama,Fantasy,War","In the falangist Spain of 1944, the bookish yo...",Guillermo del Toro,"Ivana Baquero, Ariadna Gil, Sergi López,Maribe...",2006,118,8.2,498879,37.62,98.0
238,239,The Grand Budapest Hotel,"Adventure,Comedy,Drama","The adventures of Gustave H, a legendary conci...",Wes Anderson,"Ralph Fiennes, F. Murray Abraham, Mathieu Amal...",2014,99,8.1,530881,59.07,88.0
241,242,Inside Out,"Animation,Adventure,Comedy",After young Riley is uprooted from her Midwest...,Pete Docter,"Amy Poehler, Bill Hader, Lewis Black, Mindy Ka...",2015,95,8.2,416689,356.45,94.0
249,250,The Intouchables,"Biography,Comedy,Drama",After he becomes a quadriplegic from a paragli...,Olivier Nakache,"François Cluzet, Omar Sy, Anne Le Ny, Audrey F...",2011,112,8.6,557965,13.18,57.0
299,300,There Will Be Blood,"Drama,History","A story of family, religion, hatred, oil and m...",Paul Thomas Anderson,"Daniel Day-Lewis, Paul Dano, Ciarán Hinds,Mart...",2007,158,8.1,400682,40.22,92.0
334,335,Rush,"Action,Biography,Drama",The merciless 1970s rivalry between Formula On...,Ron Howard,"Daniel Brühl, Chris Hemsworth, Olivia Wilde,Al...",2013,123,8.1,339722,26.90,75.0
427,428,The Bourne Ultimatum,"Action,Mystery,Thriller",Jason Bourne dodges a ruthless CIA official an...,Paul Greengrass,"Matt Damon, Edgar Ramírez, Joan Allen, Julia S...",2007,115,8.1,525700,227.14,85.0
430,431,3 Idiots,"Comedy,Drama",Two friends are searching for their long lost ...,Rajkumar Hirani,"Aamir Khan, Madhavan, Mona Singh, Sharman Joshi",2009,170,8.4,238789,6.52,67.0
455,456,Jagten,Drama,"A teacher lives a lonely life, all the while s...",Thomas Vinterberg,"Mads Mikkelsen, Thomas Bo Larsen, Annika Wedde...",2012,115,8.3,192263,0.61,76.0
476,477,The Lives of Others,"Drama,Thriller","In 1984 East Berlin, an agent of the secret po...",Florian Henckel von Donnersmarck,"Ulrich Mühe, Martina Gedeck,Sebastian Koch, Ul...",2006,137,8.5,278103,11.28,89.0
478,479,Paint It Black,Drama,A young woman attempts to deal with the death ...,Amber Tamblyn,"Alia Shawkat, Nancy Kwan, Annabelle Attanasio,...",2016,96,8.3,61,NaN,71.0
499,500,Up,"Animation,Adventure,Comedy",Seventy-eight year old Carl Fredricksen travel...,Pete Docter,"Edward Asner, Jordan Nagai, John Ratzenberger,...",2009,96,8.3,722203,292.98,88.0
608,609,Mommy,Drama,"A widowed single mother, raising her violent s...",Xavier Dolan,"Anne Dorval, Antoine-Olivier Pilon, Suzanne Cl...",2014,139,8.1,33560,3.49,74.0
634,635,WALL·E,"Animation,Adventure,Family","In the distant future, a small waste-collectin...",Andrew Stanton,"Ben Burtt, Elissa Knight, Jeff Garlin, Fred Wi...",2008,98,8.4,776897,223.81,NaN
641,642,Relatos salvajes,"Comedy,Drama,Thriller",Six short stories that explore the extremities...,Damián Szifron,"Darío Grandinetti, María Marull, Mónica Villa,...",2014,122,8.1,110100,3.08,77.0
645,646,Gran Torino,Drama,Disgruntled Korean War veteran Walt Kowalski s...,Clint Eastwood,"Clint Eastwood, Bee Vang, Christopher Carley,A...",2008,116,8.2,595779,148.09,NaN
688,689,Toy Story 3,"Animation,Adventure,Comedy",The toys are mistakenly delivered to a day-car...,Lee Unkrich,"Tom Hanks, Tim Allen, Joan Cusack, Ned Beatty",2010,103,8.3,586669,414.98,92.0
695,696,Hachi: A Dog's Tale,"Drama,Family",A college professor's bond with the abandoned ...,Lasse Hallström,"Richard Gere, Joan Allen, Cary-Hiroyuki Tagawa...",2009,93,8.1,177602,NaN,61.0
713,714,Incendies,"Drama,Mystery,War",Twins journey to the Middle East to discover t...,Denis Villeneuve,"Lubna Azabal, Mélissa Désormeaux-Poulin, Maxim...",2010,131,8.2,92863,6.86,80.0
742,743,El secreto de sus ojos,"Drama,Mystery,Romance",A retired legal counselor writes a novel hopin...,Juan José Campanella,"Ricardo Darín, Soledad Villamil, Pablo Rago,Ca...",2009,129,8.2,144524,20.17,80.0
765,766,PK,"Comedy,Drama,Romance",A stranger in the city asks questions no one h...,Rajkumar Hirani,"Aamir Khan, Anushka Sharma, Sanjay Dutt,Boman ...",2014,153,8.2,103279,10.57,51.0
772,773,How to Train Your Dragon,"Animation,Action,Adventure",A hapless young Viking who aspires to hunt dra...,Dean DeBlois,"Jay Baruchel, Gerard Butler,Christopher Mintz-...",2010,98,8.1,523893,217.39,74.0
861,862,Koe no katachi,"Animation,Drama,Romance","The story revolves around Nishimiya Shoko, a g...",Naoko Yamada,"Miyu Irino, Saori Hayami, Aoi Yuki, Kenshô Ono",2016,129,8.4,2421,NaN,80.0
991,992,Taare Zameen Par,"Drama,Family,Music",An eight-year-old boy is thought to be a lazy ...,Aamir Khan,"Darsheel Safary, Aamir Khan, Tanay Chheda, Sac...",2007,165,8.5,102697,1.20,42.0

In [34]:
top_rank = imdb[imdb["Rating"]>8][["Title","Rank"]]
print(top_rank)
print("Total:",top_rank.count())

                                            Title  Rank
0                         Guardians of the Galaxy     1
6                                      La La Land     7
16                                  Hacksaw Ridge    17
18                                           Lion    19
26                        Bahubali: The Beginning    27
36                                   Interstellar    37
50     Star Wars: Episode VII - The Force Awakens    51
54                                The Dark Knight    55
64                                   The Prestige    65
67                             Mad Max: Fury Road    68
74                                       Zootopia    75
76                                   The Avengers    77
77                           Inglourious Basterds    78
80                                      Inception    81
82                        The Wolf of Wall Street    83
83                                      Gone Girl    84
90                                      Prisoners    91
92                                       The Help    93
96                                  Kimi no na wa    97
99                                   The Departed   100
111                              12 Years a Slave   112
114  Harry Potter and the Deathly Hallows: Part 2   115
117                                        Dangal   118
124                         The Dark Knight Rises   125
133                                      Whiplash   134
136                        No Country for Old Men   137
138                                Shutter Island   139
143                                          Room   144
144                              Django Unchained   145
145                                     Ah-ga-ssi   146
154                Twin Peaks: The Missing Pieces   155
192                                     Spotlight   193
194                                       Warrior   195
197                                 Into the Wild   198
198                            The Imitation Game   199
230                               Pan's Labyrinth   231
238                      The Grand Budapest Hotel   239
241                                    Inside Out   242
249                              The Intouchables   250
299                           There Will Be Blood   300
334                                          Rush   335
427                          The Bourne Ultimatum   428
430                                      3 Idiots   431
455                                        Jagten   456
476                           The Lives of Others   477
478                                Paint It Black   479
499                                            Up   500
608                                         Mommy   609
634                                        WALL·E   635
641                              Relatos salvajes   642
645                                   Gran Torino   646
688                                   Toy Story 3   689
695                           Hachi: A Dog's Tale   696
713                                     Incendies   714
742                        El secreto de sus ojos   743
765                                            PK   766
772                      How to Train Your Dragon   773
861                                Koe no katachi   862
991                              Taare Zameen Par   992
Total: Title    59
Rank     59
dtype: int64

In [35]:
# 6. Groupby operations
imdb2 = imdb.groupby('Genre')
imdb2.mean()

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Genre,,,,,,,
Action,352.500000,2016.000000,88.000000,6.150000,8618.500000,131.560000,37.000000
"Action,Adventure",333.000000,2011.000000,124.333333,6.400000,334459.000000,223.740000,57.333333
"Action,Adventure,Biography",284.000000,2015.500000,131.500000,7.000000,48780.000000,16.500000,62.500000
"Action,Adventure,Comedy",407.142857,2014.214286,109.642857,6.592857,193502.357143,95.733571,47.214286
"Action,Adventure,Crime",396.500000,2012.333333,116.500000,6.433333,200322.833333,90.620000,48.333333
...,...,...,...,...,...,...,...
"Romance,Sci-Fi,Thriller",707.000000,2011.000000,106.000000,7.100000,208632.000000,62.450000,NaN
Sci-Fi,400.500000,2016.000000,106.500000,4.950000,726.500000,20.760000,53.000000
"Sci-Fi,Thriller",513.000000,2008.000000,91.000000,5.000000,170897.000000,64.510000,34.000000
Thriller,681.444444,2014.777778,95.222222,5.955556,33960.222222,0.320000,59.714286
"Thriller,War",161.000000,2016.000000,106.000000,6.000000,5926.000000,NaN,40.000000

In [36]:
imdb[imdb['Rating']>7].groupby('Genre')[['Rating']].count()

                            Rating
Genre
Action                           1
Action,Adventure,Biography       1
Action,Adventure,Comedy          4
Action,Adventure,Crime           2
Action,Adventure,Drama           4
...                            ...
Mystery,Sci-Fi,Thriller          3
Mystery,Thriller                 3
Mystery,Thriller,Western         1
Romance,Sci-Fi,Thriller          1
Thriller                         1

[129 rows x 1 columns]

In [39]:
top_movie = imdb[imdb["Rating"]>8.0]
top_movie.groupby(["Title"])["Votes"].mean()

Title
12 Years a Slave                                 486338
3 Idiots                                         238789
Ah-ga-ssi                                         33418
Bahubali: The Beginning                           76193
Dangal                                            48969
Django Unchained                                1039115
El secreto de sus ojos                           144524
Gone Girl                                        636243
Gran Torino                                      595779
Guardians of the Galaxy                          757074
Hachi: A Dog's Tale                              177602
Hacksaw Ridge                                    211760
Harry Potter and the Deathly Hallows: Part 2     590595
How to Train Your Dragon                         523893
Incendies                                         92863
Inception                                       1583625
Inglourious Basterds                             959065
Inside Out                                       416689
Interstellar                                    1047747
Into the Wild                                    459304
Jagten                                           192263
Kimi no na wa                                     34110
Koe no katachi                                     2421
La La Land                                       258682
Lion                                             102061
Mad Max: Fury Road                               632842
Mommy                                             33560
No Country for Old Men                           660286
PK                                               103279
Paint It Black                                       61
Pan's Labyrinth                                  498879
Prisoners                                        431185
Relatos salvajes                                 110100
Room                                             224132
Rush                                             339722
Shutter Island                                   855604
Spotlight                                        268282
Star Wars: Episode VII - The Force Awakens       661608
Taare Zameen Par                                 102697
The Avengers                                    1045588
The Bourne Ultimatum                             525700
The Dark Knight                                 1791916
The Dark Knight Rises                           1222645
The Departed                                     937414
The Grand Budapest Hotel                         530881
The Help                                         342429
The Imitation Game                               532353
The Intouchables                                 557965
The Lives of Others                              278103
The Prestige                                     913152
The Wolf of Wall Street                          865134
There Will Be Blood                              400682
Toy Story 3                                      586669
Twin Peaks: The Missing Pieces                     1973
Up                                               722203
WALL·E                                           776897
Warrior                                          355722
Whiplash                                         477276
Zootopia                                         296853
Name: Votes, dtype: int64

In [40]:
# 7. Sorting operation
x = imdb.sort_values(by='Rating')
x.head(10)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
829,830,Disaster Movie,Comedy,"Over the course of one evening, an unsuspectin...",Jason Friedberg,"Carmen Electra, Vanessa Lachey,Nicole Parker, ...",2008,87,1.9,77207,14.17,15.0
42,43,Don't Fuck in the Woods,Horror,A group of friends are going on a camping trip...,Shawn Burkett,"Brittany Blanton, Ayse Howard, Roman Jossart,N...",2016,73,2.7,496,NaN,NaN
871,872,Dragonball Evolution,"Action,Adventure,Fantasy",The young warrior Son Goku sets out on a quest...,James Wong,"Justin Chatwin, James Marsters, Yun-Fat Chow, ...",2009,85,2.7,59512,9.35,45.0
647,648,Tall Men,"Fantasy,Horror,Thriller",A challenged man is stalked by tall phantoms i...,Jonathan Holbrook,"Dan Crisafulli, Kay Whitney, Richard Garcia, P...",2016,133,3.2,173,NaN,57.0
968,969,Wrecker,"Action,Horror,Thriller",Best friends Emily and Lesley go on a road tri...,Micheal Bafaro,"Anna Hutchison, Andrea Whitburn, Jennifer Koen...",2015,83,3.5,1210,NaN,37.0
890,891,The Intent,"Crime,Drama",Gunz (Dylan Duffus) is thrust into a world of ...,Femi Oyeniran,"Dylan Duffus, Scorcher,Shone Romulus, Jade Asha",2016,104,3.5,202,NaN,59.0
49,50,The Last Face,Drama,A director (Charlize Theron) of an internation...,Sean Penn,"Charlize Theron, Javier Bardem, Adèle Exarchop...",2016,130,3.7,987,NaN,16.0
269,270,Satanic,Horror,Four friends on their way to Coachella stop of...,Jeffrey G. Hunt,"Sarah Hyland, Steven Krueger, Justin Chon, Cla...",2016,85,3.7,2384,NaN,NaN
525,526,Birth of the Dragon,"Action,Biography,Drama","Young, up-and-coming martial artist, Bruce Lee...",George Nolfi,"Billy Magnussen, Terry Chen, Teresa Navarro,Va...",2016,103,3.9,552,93.05,61.0
401,402,The Black Room,Horror,PAUL and JENNIFER HEMDALE have just moved into...,Rolfe Kanefsky,"Natasha Henstridge, Lukas Hassel, Lin Shaye,Do...",2016,91,3.9,240,NaN,71.0

In [41]:
most_votes = imdb.groupby(["Votes"]).mean()
most_votes.sort_values(by=["Votes"], ascending=False).head()

,Rank,Year,Runtime (Minutes),Rating,Revenue (Millions),Metascore
Votes,,,,,,
1791916,55.0,2008.0,152.0,9.0,533.32,82.0
1583625,81.0,2010.0,148.0,8.8,292.57,74.0
1222645,125.0,2012.0,164.0,8.5,448.13,78.0
1047747,37.0,2014.0,169.0,8.6,187.99,74.0
1045588,77.0,2012.0,143.0,8.1,623.28,69.0

In [42]:
# 8. Dealing with missing values
imdb.isnull().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [43]:
# 9. Dropping columns and null values
imdb.dropna()
x = imdb.drop(['Metascore'], axis='columns', inplace=True)

In [45]:
imdb.isnull().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
dtype: int64

In [46]:
# 10. Apply( ) functions
rank = imdb.apply(lambda n: n*5)
print(rank.head())

   Rank                                              Title  \
0     5  Guardians of the GalaxyGuardians of the Galaxy...
1    10  PrometheusPrometheusPrometheusPrometheusPromet...
2    15                          SplitSplitSplitSplitSplit
3    20                               SingSingSingSingSing
4    25  Suicide SquadSuicide SquadSuicide SquadSuicide...

                                               Genre  \
0  Action,Adventure,Sci-FiAction,Adventure,Sci-Fi...
1  Adventure,Mystery,Sci-FiAdventure,Mystery,Sci-...
2  Horror,ThrillerHorror,ThrillerHorror,ThrillerH...
3  Animation,Comedy,FamilyAnimation,Comedy,Family...
4  Action,Adventure,FantasyAction,Adventure,Fanta...

                                         Description  \
0  A group of intergalactic criminals are forced ...
1  Following clues to the origin of mankind, a te...
2  Three girls are kidnapped by a man with a diag...
3  In a city of humanoid animals, a hustling thea...
4  A secret government agency recruits some of th...

                                            Director  \
0  James GunnJames GunnJames GunnJames GunnJames ...
1  Ridley ScottRidley ScottRidley ScottRidley Sco...
2  M. Night ShyamalanM. Night ShyamalanM. Night S...
3  Christophe LourdeletChristophe LourdeletChrist...
4  David AyerDavid AyerDavid AyerDavid AyerDavid ...

                                              Actors   Year  \
0  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  10070
1  Noomi Rapace, Logan Marshall-Green, Michael Fa...  10060
2  James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  10080
3  Matthew McConaughey,Reese Witherspoon, Seth Ma...  10080
4  Will Smith, Jared Leto, Margot Robbie, Viola D...  10080

   Runtime (Minutes)  Rating    Votes  Revenue (Millions)
0                605    40.5  3785370             1665.65
1                620    35.0  2429100              632.30
2                585    36.5   788030              690.60
3                540    36.0   302725             1351.60
4                615    31.0  1968635             1625.10

In [47]:
imdb.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions)
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02